@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
@import url('https://fonts.googleapis.com/css?family=Sacramento');


body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    background-color: #2ecc71;
    color: black;
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    font-family: 'Sawarabi Mincho', sans-serif; /* フォントファミリーを指定 */
    outline-style: outset;
    outline-color: grey;  
}
  
  .main {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 250px;
    background-color: #279253;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Sawarabi Mincho', sans-serif;
  }
  
  .sidebar h2 {
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }


span.hikki{
    font-family: 'Sacramento', cursive;
}

.maincontenttitle{
  font-family: 'Sawarabi Mincho', sans-serif;
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: center; /* 水平方向の中央揃え */
}